.widjets{
    flex:0.3;
    margin-left: 20px;
    margin-right: 0 !important;
}
.widjets__input{
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}
.widjets__input > input{
    border: none;
    outline: none;
    background-color: var(--twitter-background);
}
.widjets_searchIcon{
    color: gray;
}
.widgets__widgetContainer{
    margin-top: 15x;
    margin-left: 20px;
    padding: 0px;
    background-color: #f5f8fa;
    border-radius: 20px;
}
.widgets__widgetContainer > h2{
    font-size: 18px;
    font-weight: 800;
}
.widgets__widgetContainer > nav > ul{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;             
    background-color: white;
    margin-left: 0;
    border-bottom: 1px solid rgb(224, 223, 223);
}
.widgets__widgetContainer > nav > ul > li{
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;

}
.widgets__widgetContainer > nav > ul > li:hover{
    font-weight: 600;
    cursor: pointer;
    background-color: var(--twitter-background);
}